jupyter
matplotlib
quandl
numpy
pandas
matplotlib
mpl-finance
scikit-learn
seaborn
v20
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability